@media screen and (max-width: 1152px) {

  #wrapper {
    max-width:960px;
  }
  #top-area .column:last-child{
    margin-right: 0;
  }
  #copyright{
    padding: 0 3%;
  }
}

@media screen and (max-width: 960px) {

  #main-menu a{
    padding: 13px 17px;
  }
  .content-sidebar-wrap,
  #content,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:100% !important;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #sidebar-first,
  #sidebar-second,
  #head,
  #foot {
    padding:0 3.52%;
  }
  
}
@media screen and (max-width: 760px) {
  .region.region-footer-first{
    width: 100%;

text-align:center;
  }
.region.region-footer-third{
  width: 100%;
  text-align:center;

}
.region.region-footer-third p{
  text-align: center;
}
}
@media screen and (max-width: 640px) {
    #block-views-most-recent-business-block{
      border-bottom: solid #1ABC9C;
      padding-bottom: 20px;
    }
    #block-views-most-recent-business-block,
  #block-views-most-recent-residential-block{

     margin-bottom: 30px;
  }
  .view-most-recent-residential .views-row, .view-most-recent-business .views-row{
  min-height: 0px;
  margin-bottom: 20px;
}
.content .views-field-field-project-gallery  a img {
    width: 100%;
}
  .page-node-46 .block-views{
    width: 100%;
    margin: 0;  
  }

  /*remove*/

  /*#logo{
    margin: 13px 10px;
  }*/
  #copyright{
    padding: 0 3.52%;
  }

  body { margin-top: 0; }

  #sticky_header{
    display: none !important;
  }
  
  .nivo-caption {
    bottom: 0%;
    padding: 5px;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    width: 100%;
  }

  .front .content-sidebar-wrap{
    margin: 0;
  }

  .theme-default .nivo-controlNav{
    padding-top: 10px;
  }

  .nivo-caption h3{
    font-size: 14px;
    margin: 0;
  }

  .region-front-welcome{
    padding: 10px;
  }

  /*#site-title,*/
  #site-description {
    /*float:none;*/
    margin:0;  
    line-height:1.62em;
  }
  
  /*#site-title {
    padding-top:18px;
  }*/
  
  #site-description {
    padding-bottom:18px;
  }

  #main-menu ul {
    display:none;
  }
  
  #main-menu li ul {
    position:static;
  }
  
  #main-menu li ul ul {
    margin:0 !important;
  }
  
  #main-menu ul,
  #main-menu li {
    float:none;
    max-width:100%;
  }
  
  #main-menu a {
    width:100%;
    padding:8px 0;
    background:#444;
    color: #fff;
    background: #C0392B;
    border-bottom: 1px solid #ffae00;
  }
  #main-menu a:hover, #main-menu li a.active{
    background: #ffc000;
  }
  #main-menu li li a {
    text-align:center;
  }
  
  #main-menu li li li a {
    background: rgb(47, 61, 71);
    border-top-color:#7f7f7f;
  }
  
  #main-menu a:hover {
/*    background:#1e262d;*/
  }
  
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display:none;
  }
  
  .drop-down-toggle {
    display:block;
  }
  
  #main-menu li li .drop-down-toggle {
    top:5px;
  }
  

  #main-menu .nav-toggle {
    display:block;
    font-size:13px;
    font-weight:bold;
  }
  
  .flex-control-nav li {
    margin:0 0 0 10px;
  }
  
  .flex-control-nav li:first-child {
    margin:0;
  }
  
  .flex-control-nav li a {
    box-shadow:none;
    background:rgba(255, 255, 255, 0.75);
  }
  
  #slider .entry-container {
    position:absolute;
    left:4%;
    bottom:6.3%;
  }
  
  #slider .entry-header,
  #slider .entry-summary {
    margin:0;
  }
  
  #slider .entry-title {
    margin-bottom: 0;
  }
  
  #slider .entry-title a,
  #slider .entry-summary{
    display:inline-block;
    padding:1% 3%;
    background:rgba(255, 255, 255, 0.75);
  }
  
  #slider .entry-summary {
    max-width:61.8%;
  }
  
  #slider .entry-summary p {
    max-height:84px;
    overflow:hidden;
  }
  
  #slider .slide-image {
    float:none;
    display:block;
    max-width:100%;
    padding:0;
    margin:0;
    box-shadow:none;
  }

  .content-sidebar-wrap,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:auto;
  }

  .content-sidebar-wrap #content {
    float: left;
    width:auto;
  }
  
  #sidebar-first .block,
  #sidebar-second .block,
  #footer-area .column,
  #top-area .column {
    float:none;
    width:auto !important;
    margin-left:0;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #footer-area .column,
  #top-area .column {
    margin:10px;
  }
  #top-area .column:first-child,
  #footer-area .column:first-child{
    margin: 10px;
  }
  
  .copyright,
  .credits {
    float:none;
    text-align:left;
  }


  @media screen and (max-width: 440px) {

    input.form-text, select.form-select {
      width: 93%;
    }

    textarea.form-textarea {
      width: 100%
    }

  .block > h2 {
    /*font-size: 18px;*/
  }
  #block-views-most-recent-business-block,
  #block-views-most-recent-residential-block{

     margin-bottom: 20px;
  }
  #top-area h2{
    font-size: 14px;
  }
  #copyright{
    padding: 0 3.52%;
  }
  #header{
    padding-top: 15px;
  }
  /*.social-icons {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }*/
  /*#logo{
    margin: 8px 0;
    text-align: center;
  }*/
   /*#logo img{
    max-width: 85%;
    text-align: center;
  }*/
  /*#site-title{
    font-size: 18px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
  }*/
  #site-description{
    padding-bottom: 5px;
    font-size: 10px;
  }
  /*.social-icons li{
    padding: 0px;
    text-align: center;
  }*/
  /*.social-icons li img{
    /*max-width: 70%;
    display: inline-block;
  }*/
  .menu_wrapper{
    margin-top: 10px;
  }
  .nivo-caption{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .node{
    margin-top: 5px;
  }
}