/*outer body container*/
body {
  font-family: Helvetica, Arial, sans-serif;
}
body a {
  color: #D35C02;
}
body p {
  font-size: 0.7em;
}
/*outer body container*/
#bodyContainer {
  /**MAIN CONTENT CONTAINER**/

}
#bodyContainer #headerLine {
  position: absolute;
  width: 100%;
  display: block;
  height: 10em;
  border-bottom: solid 1px;
  z-index: -25;
}
#bodyContainer #container {
  margin: 0 auto 0 auto;
  width: 770px;
  display: block;
  clear: both;
}
/***HEADER***/
header {
  height: 248px;
}
header #headerTop {
  height: 10em;
  background-image: url('../images/saavedraLogo-01.png');
  background-repeat: no-repeat;
}
header #headerTop #headerBackgroundImage {
  float: right;
  height: 10em;
  width: 39em;
  background-position: right;
  background-image: url('../images/headerBg-01.png');
  background-repeat: no-repeat;
  clear: both;
}
header #headerTop #headerBackgroundImage a img {
  position: relative;
  float: right;
  top: 8.5em;
  right: 4.125em;
}
header #headerTop #headerBackgroundImage a img[alt*='Friend'] {
  height: 1em;
}
header #headerTop #headerBackgroundImage a img[alt*='Yelp'] {
  height: 1.38em;
  right: 4.65em;
}
header #headerBottom {
  position: relative;
  float: left;
  width: 100%;
  height: 68px;
  border-bottom: solid black 2px;
}
header #headerBottom ul {
  margin: 12px 0 0 0;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
}
header #headerBottom ul a {
  display: inline-block;
  color: black;
  text-decoration: none;
}
header #headerBottom ul a :hover {
  color: #A86678;
}
header #headerBottom ul li {
  font-size: 24px;
  margin: 0 10px  0 0;
  padding: 0;
  display: inline;
}
header #headerBottom ul li :hover {
  color: #A86678;
}
header #headerBottom ul li ul#subNav {
  position: absolute;
  margin: 5px 0 0 5px;
}
header #headerBottom ul li ul#subNav a :hover {
  background-color: #ccc;
  color: #A86678;
}
header #headerBottom ul li ul#subNav a li {
  font-size: 14px;
}
header #headerBottom .navSlash {
  color: #000;
  background-color: #fff;
}
header #headerBottom .navSlash :hover {
  color: #000;
}
header #headerBottom nav + a {
  position: absolute;
  top: 0px;
  right: -35px;
}
/****Main Gallery***/
#mainGallery {
  height: 400px;
  width: 100%;
  background-color: #000;
  padding: 0 0 0px 0;
  margin: 0 0 25px 0;
}
#mainGallery img {
  border: none;
  display: block;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
  height: 100%;
  width: auto;
}
/****Main Content***/
article #mainContent {
  display: inline-block;
  width: 404px;
  margin: 0 10px 0 0px;
  padding: 0 0 0 20px;
  float: left;
}
article #mainContent h1 {
  font-weight: bold;
  color: #333;
  font-size: 2em;
  margin: 0 0 20px 0;
}
aside #saleSection {
  width: 170px;
  float: left;
  clear: right;
}
aside #saleSection h2 {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 0 0 0;
  text-align: center;
}
aside #saleSection .promo {
  background-image: url(../images/saleTag-01.png);
  background-position: center;
  height: 143px;
  background-repeat: no-repeat;
  color: red;
}
aside #saleSection .promo h3 {
  padding: 40px 0 0 0;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}
aside #saleSection .promo p {
  color: black;
  width: 100px;
  margin: 0 auto;
}
aside #blog {
  float: left;
  display: block;
  overflow: hidden;
  width: 160px;
  padding: 0 5px 20px 0;
  border-right: solid 1px;
}
aside #blog h2 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  margin: 0px 0 0 0;
}
aside #blog h3 {
  font-weight: bold;
  margin: 10px 0 0 0;
}
aside #blog p:after {
  content: "\A \A Read More";
  color: #D35C02;
  white-space: pre;
}
#estimateButtonfooter {
  position: relative;
  width: 100%;
  overflow: hidden;
  float: left;
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 0 5px 0;
}
#estimateButtonfooter hr {
  display: block;
  margin: 0 0 5px 0 ;
  padding: 0 0 0 0;
}
#estimateButtonfooter a {
  display: block;
  position: absolute;
  top: 5px;
  left: 252.855px;
}
footer {
  color: white;
  bottom: 0;
  padding: 5px 0 5px 0;
  margin: 30px 0 0 0;
  width: 100%;
  display: block;
  float: left;
  background-color: black;
}
#footerContainer {
  display: block;
  color: #888;
  margin-left: auto!important;
  margin-right: auto!important;
  width: 770px;
  font-size: 1em;
  font-weight: normal;
}
#footerContainer #footerBottom #footerLeft {
  float: left;
  text-align: left;
}
#footerContainer #footerBottom #footerRight {
  float: right;
  text-align: right;
  font-size: .75em;
  font-weight: normal;
}
