
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #332e20;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
 
}
a {
  color: #A88273;
}
a:hover,
a:focus {
  color: #DB7856;
}
a:active {
  color: #DB7856;
}#page-wrapper,
#footer-wrapper {
  background: #CC6F00;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #A88273;
}
