
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  width: 100%;
  min-width: 770px;
}
#header div.section,
#featured div.section,
#messages div.section,
#triptych,
#footer-columns,
#footer {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
}
.with-secondary-menu .region-header {
}
.without-secondary-menu .region-header {
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 591px;
  /*border-left: dotted 1px #BA9052;*/
  padding: 0 0 0 10px;
}
.two-sidebars #content {
  width: 404px;
  border-left: dotted 1px #BA9052;
  padding: 0 0 0 10px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first{
 

}
#sidebar-first .block{
}
#sidebar-first,
#sidebar-second {
  width: 160px;
  padding: 0;
}
#sidebar-second{
  float: right;
  right: 5px;
}
#sidebar-second #block-block-1{
  height: 143px;
  overflow: hidden;
   border-radius: 0 0;
   /*box-shadow: 0 0 5px #BA9052;*/
  margin: 0;  
  padding: 0px auto 0 auto;
  border-bottom: 4px solid #fde997;
}
#sidebar-second .block+.block{
  margin: 10px 0 0 0 ;

}
#sidebar-second .block h3{
  color: #683C03;
  margin: 10px 0 0 0;
  font-size: 2em;
}

#sidebar-second .block p{
  font-size: 1.15em;
}
#main-wrapper {

}
#content .section,
.sidebar .section {
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  width: 33%;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  min-width: 770px;
}

#main{
  width: 770px;
  padding: 0!important;
  overflow: hidden;
  margin: 10px 0 0 0 ;
}
.group-right{
 margin-left: 0px
}
#container {
  margin: 0 auto 0 auto;
  width: 770px;
  display: block;
  clear: both;
  z-index: 99999;
}